@media(max-width:800px) {
    body {
        background-image: url(../image/bg-mobile.svg) cover center;
    }

    .main {
        margin: 0 auto;
        text-align: center;
        display: flex;
        width: 100%;
    }

    .container .logo img {
        width: 60%;
        font-size: 10rem;
        margin-top: 3rem;
    }

    .page-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .page-center .item {
        padding: 0 1rem;
    }

    .page-center .image img {
        padding: 0 4rem;
        width: 70%;

    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 9rem;
        padding-left: 20px;
    }
}