html {
    /* 1.6rem = 16px
    1rem = 10px */
    font-size: 62.5%;
}

/* Cor de fundo e a imagem */
body {
    background-image: url(../image/bg-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--primary-color);
    min-height: 100vh;
}

.main {
    max-width: 1320px;
    margin: 0 auto;
    height: 100vh;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* LOGO */
.logo img {
    width: 30%;
    padding-bottom: 50px;
}

/* CENTRO DA PÁGINA */
.page-center {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 4rem;

}

.page-center .item{
    padding-left: 20rem;
}

.page-center .image img{
    width: 150%;
}

.page-center .item .title {
    color: white;
    font-size: 3.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-bottom: 2rem;
}

.page-center .item .text {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    color: white;
    margin-bottom: 3rem;
}

/* Botão */
.page-center .button {
    display: inline-block;
    box-shadow: 8px 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 1.8rem;
    font-family: 'Poppins', sans-serif;
    border-radius: 3rem;
    background-color: white;
    padding: 1.6rem 6.5rem;
    transition: 0.3s;
}

.button-word {
    color: var(--primary-color);
}

.button-word:hover {
    color: white;
}

.page-center .button:hover {
    background-color: var(--button-color);
}

/* Ícones */
footer {
    padding-right: 20px;
    display: flex;
    justify-content: right;
    text-align: center;
    font-size: 3rem;
    position: relative;
    top: 50px;

}

.social{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.social li a{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid white;
    width: 50px;
    height: 50px;
    color: white;
}

.social li a:hover {
    color: var(--button-color);
    border: 2px solid var(--button-color);
    border-radius: 50%;
}

